<ion-view view-title="" hide-nav-bar="false">
  	<ion-content>
  		<!--<button id="fab-gallery" class="button button-fab button-fab-top-right expanded button-energized-900 drop"><i class="icon ion-heart"></i></button>-->
			<div class="col-sm-8">
				<br>
				<br>
				<br>
				<div class="video-grid-single-page-agileits">
					<img ng-src="{{establish.affiche}}" style="max-width:400px;max-height:250px;" />
				</div>
				<div class="col-md-6 agile_tv_series_grid_right">
					<p class="fexi_header_para" align="center"><b style="color:#ff8d1b;font-size:15px">{{establish.titre}}</b>
                    <p class="fexi_header_para"><b style="color:#000">Scénario :</b> {{establish.description}}</p>
                    <p class="fexi_header_para"><b style="color:#000">Date de sortie :</b> {{establish.anneeDeSortie}}</p>
                    <p class="fexi_header_para"><b style="color:#000">Genres :</b> {{establish.genre}}</p>
                    <p class="fexi_header_para"><b style="color:#000">Genres :</b> {{establish.acteur}}</p>
                    <p class="fexi_header_para"><b style="color:#000">Genres :</b> {{establish.realisateur}}</p>         
                </div>

				<div class="all-comments" style="margin-left: 3px;">
						<div class="all-comments-info">
							<!--<h5>Commentaires (2)</h5>-->
							<div class="agile-info-wthree-box">
								<form ng-submit="commenter()">
									<textarea style="border-radius:5px;" ng-model="commenter.message" placeholder="Message" required=""></textarea>
									<input type="submit" value="Envoyer">
									<div class="clearfix"> </div>
								</form>
							</div>
						</div>

						<div class="item card-item" ng-repeat="fiche in fiches">
				            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
				                <div class="item item-avatar item-text-wrap">
				                	<img class="avatar" src="{{fiche.info.avatar}}">
				                    <strong>{{fiche.info.pseudonyme}}</strong> {{fiche.commentaire}}
				                    <div class="card-footer text-right">
				                        <!--<i class="icon ion-chatbubble positive"></i> 2
				                        <i class="icon ion-heart assertive"></i> 4-->
				                        <i class="icon ion-clock"></i> {{data.dateComment}}
				                        <div class="pull-left">
				                            
				                        </div>
				                    </div>
				                </div>
				            </div>
				        </div>
				</div>
			</div>
  	</ion-content>
</ion-view>
