<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="text-center">
                <h1><small>{{data.pseudonyme}}</small></h1>
            </div>
            <div class="list">
              <div class="item item-avatar">
                <img src="{{data.avatar}}">
                <h2>{{data.pseudonyme}}</h2>
                <p>{{data.email}}</p>
              </div>

              <div class="item item-image">
                <img src="../img/icone/serie.png">
              </div>

              <!--<a class="item item-icon-left assertive" href="#">
                <i class="icon ion-music-note"></i>
                Start listening
              </a>-->
            </div>
            
        <div class="tabs tabs-dark tabs-icon-top static">
            <a class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> Favoris
            </a>
            <a  class="tab-item">
                <i class="icon ion-android-people"></i> Friends
            </a>
            <a class="tab-item">
                <i class="icon ion-images"></i> Photos
            </a>
        </div>
    </ion-content>
</ion-view>
